@import 'tailwindcss';
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Inter:wght@300;400;500&display=swap');
@plugin "@tailwindcss/typography"; 

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    /* Tambah font custom di sini */
    --font-serif: 'Playfair Display', ui-serif, Georgia, serif;
}

/* Custom CSS */
.search-overlay {
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.97);
    backdrop-filter: blur(12px);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    gap: 10px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
}
.search-overlay.active {
    opacity: 1;
    pointer-events: all;
}
.search-overlay input {
    flex: 1;
    border: none;
    background: transparent;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #000;
    outline: none;
}
.search-overlay input::placeholder {
    color: #999;
}